<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🗣️ Chat</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="client.js" defer></script>
</head>
<body>

    <header>
        <h1>🗣️ Chat</h1>
    </header>

    <main>
        <div id="chat">
            <div id="messages">

            </div>

            <form id="form">
                <input type="text" id="input" autocomplete="off" placeholder="Skicka ett medelande">
                <button type="submit">Send</button>
            </form>
        </div>
    </main>

    <footer></footer>

</body>
</html>
